@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Syne:wght@400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Germania One', cursive;
    font-size:18px;
    
}
h2, h3 {
    font-family: 'Germania One', cursive; 
}
h2 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: left;
}
h3 {
    font-size:48px;
    color: #000000;
    margin-left: 0px;
}
#top {
    background-image: url(img/top.png);
    background-position: center;
    background-size: cover;
    min-height: 900px;
    position: relative;
    display: flex;
    justify-content:end;
    align-items: center;

}
.top-content{
    width: 50%;
    color:#fff;
    max-width: none;

}
.nav {
    width: 100%;
    position: absolute;
    top: 0;
}
.nav-wrapper{
        width: 90%;
        max-width: 2400px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
}
.nav-wrapper .logo{
    max-width: 110px;
}
.nav-wrapper .logo img{
    display: block;
    width: 100%;
}
.menu {
    display:flex;
}
.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}
.button-grup {
    display: flex;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Syne', sans-serif;
}
.button-grup a {
    color: #fff;
    display: flex;
    padding: 20px 50px;
}
.button-grup  .explore {
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #503c7a, #9f2e87);
    padding: 20px 20px 20px 20px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;

}
.container{
    background-image: url(img/about.png);
    background-size:contain;
    max-width: 900px;
    padding-left: 20px;
    text-align: center;
    margin-left: 490px;
    height: 660px;
}
.explore {
    color:#fff;
    text-align: center;
}
.explore.p {
    margin-right: 30px;
}
.logo{
    text-align:center;
    padding-top: 139;
    padding-bottom:41px;
}
#about{
    width: 90%;
    max-width: 1024px;
    position: relative;
    z-index: 5;
    padding: 30px 10px;
    text-align: center;
    top:300px;
}
.top-content p {
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    color:#fff;
}
#mid {
    background-image: url(img/mid.png);
    background-color: #fff;
    background-position: center;
    background-size: cover;
    height: 461px;
    width: 100%;
    position: relative;
    margin-top: 0px;
}
.logo-second{
    margin-left: 800px;
}
.about-paragraf{
    color: rgb(0, 0, 0);
    background-image: url(./data/about-box.png);
    min-height: 633px; max-width: 1024px;
    background-position: center;
    padding: 20px 70px 20px 70px;
    font-family: 'Syne', sans-serif;
    font-size: 18px;
}
#campaigns {
    margin: 100px auto 0;
    max-width: 1280px;
    width: 90%;
    margin-top: 60px;
}
#campaigns h3{
    text-align: center;
    margin-bottom: 30px;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1px;
}
.campaign-slide{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1px;
    display: flex;
    box-sizing: content-box;
}
.swiper-slide{
    flex-shrink: 0px;
}
.slide-card {
    width: 30%;
    border: solid 3px #503c7a;
    background:#fff;
    height: 536px;
    position: relative;
}
.gradient{
    background-image:linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0));
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
}
.slide-card a{
    display:block;
    width: 100%;
    height: 100%;
}

.slide-card {
    width: 30%;
    border: solid 3px #500c7a;
    background: #fff;
    height: 510px;
    position: relative;
}
#arkemyr {
    background-image: url(img/castle.jpg);
    background-position: 35% 50%;
    background-size: cover;
}
.about-paragraph .island {
    position: absolute;
    top: -124px; right: -37px;
}
#bvale {
    background-image: url(img/feywild.jpg);
    background-position: 60% 50%;
    background-size: cover;
}
#bvale .campaign-logo {
    bottom: 45px;
    padding: 10px 25px;
    position: center;
}

#leviathan {
    background-image: url(img/pirate.jpg);
    background-position: 60% 50%;
    background-size: cover;
}
#leviathan .campaign-logo {
    bottom: 45px;
    padding: 10px 25px;
    position: center;
}

#dead-alive {
    background-image: url(img/tavern.jpg);
    background-position: 20% 50%;
    background-size: cover;
}
#dead-alive .campaign-logo {
    bottom: 45px;
    padding: 10px 25px;
    position: center;
}
.campaign-logo {
    position: absolute;
    bottom: 30px;
    display: flex;
    width: 100%;
    padding: 8px;
    justify-content: center;
}
#subscription{
    text-align: center;
    padding: 15px;
    background: #efefef;
    position: relative;
    margin: 115px 0 50px; 
    min-width: 50px;
    z-index: 5;
}
#subscription::after{
    content: '';
    background-image: url(./img/shelves.png);
    background-position: 50% 70%;
    opacity: 0.07;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100px;
}
.newsletter {
    text-align: center;
    padding: 55px;
    position: relative;
    margin: 115px 0 50px;
    text-align: center;
    margin-top: -30px;

}
#attributions{
    margin: 100px auto 0;
    width: 100%;
    text-align: center; 
    text-align: center;
    background: #500c7a;
    color: #ffff;
}
.newsletter-content form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.newsletter>h3{
    color: #500c7a;
}
#attributions a {
    text-decoration:none;
    background-color: #faca45;
    color: #000000;
}
#attributions a:hover {
      background: #faca45;
      color: #500c7a;
}
#attributions p {
    font-size: 14px;
    text-align: center;
}
.campaign-slide {
    margin-top: 20px;
}
#subscription {
    text-align: center;
    padding: 0px;
    background: #efefef;
    position: relative;
}

#subscription::after {
    content: '';
    background-image: url(../img/shelves.png);
    background-position: 50% 70%;
    opacity: 0.07;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.newsletter {
    max-width: 770px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.newsletter p {
    margin: 20px 0;
}

.newsletter form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.newsletter input {
    width: 89%;
    border: solid 2px #500c7a;
    padding: 15px;
}

.newsletter input::placeholder {
       color: #a996b2;
         font-family: 'Syne', sans-serif;
}

.newsletter button {
    width: 10%;
    background-image: linear-gradient(to right, #500c7a, #9f2f87);
    border: none;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.newsletter button:hover {
    background: #500c7a;
}
.container .island{
    margin-left:10px;
    position: absolute;
    top: -110px;
    right: -900px;
    left: -120px;
}
.top-content>p{
    font-size: 18px;
    font-family: 'Syne', sans-serif;
}
.about-paragraf p{
        text-align: justify;
        margin-top:10px;
        line-height: 27px;
}
.about-paragraf blockquote{
        border-left: #faca45 solid 3px;
        margin:30px 0;
        padding-left:30px;

}
.newsletter P{
    font-family: 'Syne', sans-serif;

}
 .swiper-nav{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
 }

.swiper-nav > * {
    border: solid 2px #500c7a;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.swiper-nav a:hover {
    background-color: #500c7a;
    color: #fff;
}
.swiper-nav a {
    display: inline-block;
    text-decoration: none;
    padding: 16px 16px;
    color: #500c7a;
    height: 100%;
    width: 100%;
}