@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Fjalla+One&family=Germania+One&family=Lobster&family=Oswald:wght@500&family=Raleway:ital@1&family=Sansita:ital@1&family=Secular+One&display=swap');
*{
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Germania One', cursive;
    font-size:18px;
}
h2, h3 {
    font-family: 'Germania One', cursive; 
}
h2 {
    font-size: 60px;
    color: #ffff;
    text-align: left
}
h3 {
    font-size:48px;
    color: #323131;
}
#top {
    background-image: url(img/top-img.png);
    background-position: center;
    background-size: cover;
    min-height: 900px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-content{
    width: 1000px;
    height: 670px;
    width: 50%;
    color:#fff;
    max-width: none;
}
.nav {
    width: 100%;
    position: absolute;
    top:0px;
}
.nav-wrapper{
        width: 90%;
        max-width: 2400px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
}
.nav-wrapper .logo{
    max-width: 110px;
}
.nav-wrapper .logo img{
    display: block;
    width: 100%;
}
.menu {
    display:flex;
}
.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}
.button-grup {
    display: flex;
    margin-top: 40px;
}
.button-grup a {
    color: #fff;
    display: flex;
    padding: 20px 75px;
}
.button-grup  .explore {
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #503c7a, #9f2e87);
    padding:15x 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.container{
    background-color: antiquewhite;
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left
}
.explore {
    width: 50%;
    color:#fff;
    padding: 50px;
}
.explore.p {
    margin-right: 30px;
}
.logo{
    text-align:center;
    padding-top: 139;
    padding-bottom:41px;
}
#about{
    width: 90%;
    max-width: 1024px;
    position: relative;
    z-index: 5;
    padding: 30px 10px;
    text-align: center;
    top:300px;
}
.p {
    color:#fff
    right:center; 
}
#mid {
    background-image: url(./img/mid.png);
    background-position: center;
    background-size: cover;
    height: 461px;
    width: 100%;
    position: relative;
    margin-top: 1px;
}