@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Fjalla+One&family=Germania+One&family=Lobster&family=Oswald:wght@500&family=Raleway:ital@1&family=Sansita:ital@1&family=Secular+One&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Germania One', cursive;
    font-size:18px;
    
}
h2, h3 {
    font-family: 'Germania One', cursive; 
}
h2 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: left
}
h3 {
    font-size:48px;
    color: #000000;
    margin-left: 0px;
}
#top {
    background-image: url(img/top.png);
    background-position: center;
    background-size: cover;
    min-height: 900px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-content{
    width: 1000px;
    height: 670px;
    width: 50%;
    color:#fff;
    max-width: none;
}
.nav {
    width: 100%;
    position: absolute;
    top: 0;
}
.nav-wrapper{
        width: 90%;
        max-width: 2400px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
}
.nav-wrapper .logo{
    max-width: 110px;
}
.nav-wrapper .logo img{
    display: block;
    width: 100%;
}
.menu {
    display:flex;
}
.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}
.button-grup {
    display: flex;
    margin-top: 40px;
}
.button-grup a {
    color: #fff;
    display: flex;
    padding: 20px 75px;
}
.button-grup  .explore {
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #503c7a, #9f2e87);
    padding:15x 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.container{
    background-image: url(img/about.png);
    background-size:contain;
    max-width: 900px;
    padding-left: 20px;
    text-align: center;
    margin-left: 490px;
    height: 660px;
}
.explore {
    color:#fff;
    padding: 50px;
}
.explore.p {
    margin-right: 30px;
}
.logo{
    text-align:center;
    padding-top: 139;
    padding-bottom:41px;
}
#about{
    width: 90%;
    max-width: 1024px;
    position: relative;
    z-index: 5;
    padding: 30px 10px;
    text-align: center;
    top:300px;
    z-index: 5;
}
.top-content p {
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    color:#fff
}
#mid {
    background-image: url(img/mid.png);
    background-color: #fff;
    background-position: center;
    background-size: cover;
    height: 461px;
    width: 100%;
    position: relative;
    margin-top: 0px;
}
.logo-second{
    margin-left: 800px;
}
.about-paragraf{
    color: rgb(0, 0, 0);
    background-image: url(./data/about-box.png);
    min-height: 633px; max-width: 1024px;
    background-position: center;
    position:center;
    width: 90%;
    padding: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
#campaigns {
    margin: 100px auto 0;
    max-width: 1280px;
    width: 90%;
}
#campaigns h3{
    text-align: center;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1px;
}
.campaign-slide{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1px;
    display: flex;
    box-sizing: content-box;
}
.swiper-slide{
    flex-shrink: 0px;
}
.slide-card {
    width: 30%;
    border: solid 3px #503c7a;
    background:#fff;
    height: 536px;
    position: relative;
}
.gradient{
    background-image:linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0));
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
}
.slide-card a{
    display:block;
    width: 100%;
    height: 100%;
}

.slide-card {
    width: 30%;
    border: solid 3px #500c7a;
    background: #fff;
    height: 533px;
    position: relative;
}
#arkemyr {
    background-image: url(img/castle.jpg);
    background-position: 35% 50%;
    background-size: cover;
}
.about-paragraph .island {
    position: absolute;
    top: -124px; right: -37px;
}
#bvale {
    background-image: url(img/feywild.jpg);
    background-position: 60% 50%;
    background-size: cover;
}
#bvale .campaign-logo {
    bottom: 45px;
    padding: 10px 25px;
}

#leviathan {
    background-image: url(img/pirate.jpg);
    background-position: 60% 50%;
    background-size: cover;
}
#leviathan .campaign-logo {
    max-width: 331px;